In [70]:
#Revisar información general del dataset

#Importamos las librerias

import pandas as pd;
import matplotlib.pyplot as plt;
import seaborn as sns;


from google.colab import drive;

#Montamos el drive

drive.mount('gdrive')
ruta = '/content/gdrive/MyDrive/AnálisisEmpleo/Caracterización_del_Empleo_Público_20251206.csv'
df = pd.read_csv(ruta)

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).

In [71]:
# Revisar información general del dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4134 entries, 0 to 4133
Data columns (total 43 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   CÓDIGO SIGEP                          4134 non-null   int64
 1   NOMBRE DE LA ENTIDAD                  4134 non-null   object
 2   NIT                                   3632 non-null   float64
 3   ORDEN                                 4134 non-null   object
 4   SUBORDEN                              0 non-null      float64
 5   REGIÓN PND                            0 non-null      float64
 6   CÓDIGO DIVIPOLA DEPARTAMENTO          0 non-null      float64
 7   DEPARTAMENTO                          0 non-null      float64
 8   CÓDIGO DIVIPOLA MUNICIPIO             0 non-null      float64
 9   MUNICIPIO                             0 non-null      float64
 10  CLASIFICACIÓN ORGÁNICA                4133 non-null   object
 11  SECTOR                                4134 non-null   object
 12  NIVEL                                 4134 non-null   object
 13  TIPO DE VINCULACIÓN                   4126 non-null   object
 14  NATURALEZA JURÍDICA                   4134 non-null   object
 15  LONGITUD                              0 non-null      float64
 16  LATITUD                               0 non-null      float64
 17  AÑO                                   4134 non-null   int64
 18  MES                                   4134 non-null   int64
 19  FUENTE                                4134 non-null   object
 20  GENERO: HOMBRE                        4134 non-null   int64
 21  GENERO: MUJER                         4134 non-null   int64
 22  NIVEL EDUCATIVO: PRIMARIA             4134 non-null   int64
 23  NIVEL EDUCATIVO: SECUNDARIA           4134 non-null   object
 24  NIVEL EDUCATIVO: TÉCNICA-TECNOLÓGICA  4134 non-null   int64
 25  NIVEL EDUCATIVO: PROFESIONAL          4134 non-null   object
 26  NIVEL EDUCATIVO: ESPECIALIZACIÓN      4134 non-null   int64
 27  NIVEL EDUCATIVO: MAESTRÍA             4134 non-null   int64
 28  NIVEL EDUCATIVO: DOCTORADO            4134 non-null   int64
 29  NIVEL EDUCATIVO: SIN DATOS            4134 non-null   object
 30  EDAD: MENOR O IGUAL A 29              4134 non-null   object
 31  EDAD: 30-39                           4134 non-null   object
 32  EDAD: 40-49                           4134 non-null   object
 33  EDAD: 50-62                           4134 non-null   object
 34  EDAD: 63 Y MAS                        4134 non-null   object
 35  EXPERIENCIA LABORAL: MENOR A 1 AÑO    4134 non-null   object
 36  EXPERIENCIA LABORAL: DE 1 A 10 AÑOS   4134 non-null   object
 37  EXPERIENCIA LABORAL: DE 11 A 20 AÑOS  4134 non-null   object
 38  EXPERIENCIA LABORAL: DE 21 A 30 AÑOS  4134 non-null   object
 39  EXPERIENCIA LABORAL: DE 31 A 40 AÑOS  4134 non-null   object
 40  EXPERIENCIA LABORAL: MAYOR A 40 AÑOS  4134 non-null   object
 41  EXPERIENCIA LABORAL: SIN DATOS        4134 non-null   object
 42  SALARIO MENSUAL PROMEDIO              4134 non-null   object
dtypes: float64(9), int64(10), object(24)
memory usage: 1.4+ MB

In [72]:
# 1. Manejo de valores nulos
# Verificar cuántos valores nulos hay por columna
df.isnull().sum()

CÓDIGO SIGEP                               0
NOMBRE DE LA ENTIDAD                       0
NIT                                      502
ORDEN                                      0
SUBORDEN                                4134
REGIÓN PND                              4134
CÓDIGO DIVIPOLA DEPARTAMENTO            4134
DEPARTAMENTO                            4134
CÓDIGO DIVIPOLA MUNICIPIO               4134
MUNICIPIO                               4134
CLASIFICACIÓN ORGÁNICA                     1
SECTOR                                     0
NIVEL                                      0
TIPO DE VINCULACIÓN                        8
NATURALEZA JURÍDICA                        0
LONGITUD                                4134
LATITUD                                 4134
AÑO                                        0
MES                                        0
FUENTE                                     0
GENERO: HOMBRE                             0
GENERO: MUJER                              0
NIVEL EDUCATIVO: PRIMARIA                  0
NIVEL EDUCATIVO: SECUNDARIA                0
NIVEL EDUCATIVO: TÉCNICA-TECNOLÓGICA       0
NIVEL EDUCATIVO: PROFESIONAL               0
NIVEL EDUCATIVO: ESPECIALIZACIÓN           0
NIVEL EDUCATIVO: MAESTRÍA                  0
NIVEL EDUCATIVO: DOCTORADO                 0
NIVEL EDUCATIVO: SIN DATOS                 0
EDAD: MENOR O IGUAL A 29                   0
EDAD: 30-39                                0
EDAD: 40-49                                0
EDAD: 50-62                                0
EDAD: 63 Y MAS                             0
EXPERIENCIA LABORAL: MENOR A 1 AÑO         0
EXPERIENCIA LABORAL: DE 1 A 10 AÑOS        0
EXPERIENCIA LABORAL: DE 11 A 20 AÑOS       0
EXPERIENCIA LABORAL: DE 21 A 30 AÑOS       0
EXPERIENCIA LABORAL: DE 31 A 40 AÑOS       0
EXPERIENCIA LABORAL: MAYOR A 40 AÑOS       0
EXPERIENCIA LABORAL: SIN DATOS             0
SALARIO MENSUAL PROMEDIO                   0
dtype: int64

In [74]:
# Copia de seguridad del dataset original
df_prep = df.copy()

In [78]:
columnas_sin_info = [
    'SUBORDEN',
    'REGIÓN PND',
    'CÓDIGO DIVIPOLA DEPARTAMENTO',
    'DEPARTAMENTO',
    'CÓDIGO DIVIPOLA MUNICIPIO',
    'MUNICIPIO'
]

df_prep.drop(columns=columnas_sin_info, inplace=True, errors='ignore')

In [79]:
# Conversión de salario mensual promedio a formato numérico
df_prep["SALARIO MENSUAL PROMEDIO"] = (
    df_prep["SALARIO MENSUAL PROMEDIO"]
    .astype(str)
    .str.replace(",", "", regex=False)
    .astype(float)
)

In [80]:
df_prep["SALARIO MENSUAL PROMEDIO"].dtype

dtype('float64')

In [81]:
df_prep.isnull().sum()

CÓDIGO SIGEP                               0
NOMBRE DE LA ENTIDAD                       0
NIT                                      502
ORDEN                                      0
CLASIFICACIÓN ORGÁNICA                     1
SECTOR                                     0
NIVEL                                      0
TIPO DE VINCULACIÓN                        8
NATURALEZA JURÍDICA                        0
LONGITUD                                4134
LATITUD                                 4134
AÑO                                        0
MES                                        0
FUENTE                                     0
GENERO: HOMBRE                             0
GENERO: MUJER                              0
NIVEL EDUCATIVO: PRIMARIA                  0
NIVEL EDUCATIVO: SECUNDARIA                0
NIVEL EDUCATIVO: TÉCNICA-TECNOLÓGICA       0
NIVEL EDUCATIVO: PROFESIONAL               0
NIVEL EDUCATIVO: ESPECIALIZACIÓN           0
NIVEL EDUCATIVO: MAESTRÍA                  0
NIVEL EDUCATIVO: DOCTORADO                 0
NIVEL EDUCATIVO: SIN DATOS                 0
EDAD: MENOR O IGUAL A 29                   0
EDAD: 30-39                                0
EDAD: 40-49                                0
EDAD: 50-62                                0
EDAD: 63 Y MAS                             0
EXPERIENCIA LABORAL: MENOR A 1 AÑO         0
EXPERIENCIA LABORAL: DE 1 A 10 AÑOS        0
EXPERIENCIA LABORAL: DE 11 A 20 AÑOS       0
EXPERIENCIA LABORAL: DE 21 A 30 AÑOS       0
EXPERIENCIA LABORAL: DE 31 A 40 AÑOS       0
EXPERIENCIA LABORAL: MAYOR A 40 AÑOS       0
EXPERIENCIA LABORAL: SIN DATOS             0
SALARIO MENSUAL PROMEDIO                   0
dtype: int64

In [82]:
# Imputación de valores nulos con 0
df_prep = df_prep.fillna(0)

In [83]:
columnas_no_relevantes = [
    "NOMBRE DE LA ENTIDAD",
    "NIT",
    "CÓDIGO SIGEP"
]

df_prep = df_prep.drop(columns=columnas_no_relevantes, errors="ignore")

In [84]:
# Vista final de los datos preparados

df_prep.head()

,ORDEN,CLASIFICACIÓN ORGÁNICA,SECTOR,NIVEL,TIPO DE VINCULACIÓN,NATURALEZA JURÍDICA,LONGITUD,LATITUD,AÑO,MES,...,EDAD: 50-62,EDAD: 63 Y MAS,EXPERIENCIA LABORAL: MENOR A 1 AÑO,EXPERIENCIA LABORAL: DE 1 A 10 AÑOS,EXPERIENCIA LABORAL: DE 11 A 20 AÑOS,EXPERIENCIA LABORAL: DE 21 A 30 AÑOS,EXPERIENCIA LABORAL: DE 31 A 40 AÑOS,EXPERIENCIA LABORAL: MAYOR A 40 AÑOS,EXPERIENCIA LABORAL: SIN DATOS,SALARIO MENSUAL PROMEDIO
0,TERRITORIAL,MUNICIPAL,NO APLICA,DESCENTRALIZADO,ADSCRITAS,ESTABLECIMIENTO PÚBLICO,0.0,0.0,2025,3,...,1,1,0,0,0,2,0,0,0,3.469779e+12
1,NACIONAL,NO APLICA,RELACIONES EXTERIORES,CENTRAL,CABEZA,MINISTERIO,0.0,0.0,2025,3,...,367,82,220,487,445,180,101,52,22,6.273875e+12
2,NACIONAL,NO APLICA,HACIENDA Y CRÉDITO PÚBLICO,CENTRAL,CABEZA,MINISTERIO,0.0,0.0,2025,3,...,203,36,32,230,167,92,84,28,0,5.464311e+12
3,NACIONAL,NO APLICA,DEFENSA,CENTRAL,CABEZA,MINISTERIO,0.0,0.0,2025,3,...,192,35,19,177,230,111,60,20,0,2.530058e+12
4,NACIONAL,NO APLICA,AGROPECUARIO PESQUERO Y DE DESARROLLO RURAL,CENTRAL,CABEZA,MINISTERIO,0.0,0.0,2025,3,...,84,27,4,73,82,32,26,26,0,4.721028e+12

In [85]:
df_prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4134 entries, 0 to 4133
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ORDEN                                 4134 non-null   object
 1   CLASIFICACIÓN ORGÁNICA                4134 non-null   object
 2   SECTOR                                4134 non-null   object
 3   NIVEL                                 4134 non-null   object
 4   TIPO DE VINCULACIÓN                   4134 non-null   object
 5   NATURALEZA JURÍDICA                   4134 non-null   object
 6   LONGITUD                              4134 non-null   float64
 7   LATITUD                               4134 non-null   float64
 8   AÑO                                   4134 non-null   int64
 9   MES                                   4134 non-null   int64
 10  FUENTE                                4134 non-null   object
 11  GENERO: HOMBRE                        4134 non-null   int64
 12  GENERO: MUJER                         4134 non-null   int64
 13  NIVEL EDUCATIVO: PRIMARIA             4134 non-null   int64
 14  NIVEL EDUCATIVO: SECUNDARIA           4134 non-null   object
 15  NIVEL EDUCATIVO: TÉCNICA-TECNOLÓGICA  4134 non-null   int64
 16  NIVEL EDUCATIVO: PROFESIONAL          4134 non-null   object
 17  NIVEL EDUCATIVO: ESPECIALIZACIÓN      4134 non-null   int64
 18  NIVEL EDUCATIVO: MAESTRÍA             4134 non-null   int64
 19  NIVEL EDUCATIVO: DOCTORADO            4134 non-null   int64
 20  NIVEL EDUCATIVO: SIN DATOS            4134 non-null   object
 21  EDAD: MENOR O IGUAL A 29              4134 non-null   object
 22  EDAD: 30-39                           4134 non-null   object
 23  EDAD: 40-49                           4134 non-null   object
 24  EDAD: 50-62                           4134 non-null   object
 25  EDAD: 63 Y MAS                        4134 non-null   object
 26  EXPERIENCIA LABORAL: MENOR A 1 AÑO    4134 non-null   object
 27  EXPERIENCIA LABORAL: DE 1 A 10 AÑOS   4134 non-null   object
 28  EXPERIENCIA LABORAL: DE 11 A 20 AÑOS  4134 non-null   object
 29  EXPERIENCIA LABORAL: DE 21 A 30 AÑOS  4134 non-null   object
 30  EXPERIENCIA LABORAL: DE 31 A 40 AÑOS  4134 non-null   object
 31  EXPERIENCIA LABORAL: MAYOR A 40 AÑOS  4134 non-null   object
 32  EXPERIENCIA LABORAL: SIN DATOS        4134 non-null   object
 33  SALARIO MENSUAL PROMEDIO              4134 non-null   float64
dtypes: float64(3), int64(9), object(22)
memory usage: 1.1+ MB